*{
    padding: 5px;
    margin-bottom: 5px;
}

body {
background-color: aqua;
}

.choice {
    background-color:white;
    color: black;
    display: block;
    max-width: 50%;
}

.choice:hover {
    background-color:black;
    color: white;
}